<div class="bg-white shadow-md rounded-lg overflow-hidden flex flex-col h-[400px]">
  <div class="bg-gray-100 px-4 py-3">
    <h2 class="text-xl font-semibold text-gray-800">Registro de Usuario</h2>
  </div>
  <div class="p-4">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <div>
        <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre" 
        class="mt-1 px-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 py-2">
      </div>
      <div *ngIf="!isEditMode">
        <input type="text" id="numeroCuenta" formControlName="numeroCuenta" placeholder="Número de Cuenta" 
        class="mt-1 px-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 py-2">
      </div>
      <div *ngIf="isEditMode">
        <input type="text" id="numeroCuenta" formControlName="numeroCuenta" placeholder="Número de Cuenta" 
        class="mt-1 px-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 py-2" readonly>
      </div>
      <div>
        <input type="text" id="carrera" formControlName="carrera" placeholder="Carrera" 
        class="mt-1 px-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 py-2">
      </div>
      <div>
        <input type="number" id="semestre" formControlName="semestre" placeholder="Semestre" 
        class="mt-1 px-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 py-2">
      </div>
      <div>
        <input type="text" id="rfid" formControlName="rfid" placeholder="ID de la tarjeta RFID" 
        class="mt-1 px-3 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 py-2" readonly>
      </div>
      <div class="flex justify-center space-x-4">
        <button type="submit"
          class="w-[60%] flex justify-center py-2 px-4 border border-transparent rounded-lg shadow-md text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-300 ease-in-out transform hover:scale-105">
          {{ isEditMode ? 'Editar' : 'Registrar' }}
        </button>
        <button type="button" (click)="cancelEdit()" *ngIf="isEditMode"  
          class="w-[30%] flex justify-center py-2 px-4 border border-transparent rounded-lg shadow-md text-sm font-medium text-white bg-red-600 hover:bg-red-700 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition duration-300 ease-in-out transform hover:scale-105">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div *ngIf="isModalVisible" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white rounded-lg p-6">
    <div *ngIf="isUserRegistered" class="flex flex-col items-center">
      <i class="fa-regular fa-circle-check fa-5x" style="color: #00a30b;"></i>
      <h3 class="text-lg font-semibold mt-5">{{ modalMessage }}</h3>
      <div class="mt-4">
        <button (click)="closeModal()" class="bg-indigo-600 text-white px-4 py-2 rounded">Cerrar</button>
      </div>
    </div>
    <div *ngIf="!isUserRegistered" class="flex flex-col items-center">
      <i class="fa-regular fa-circle-xmark fa-5x" style="color: #ca2b2b;"></i>
      <h3 class="text-lg font-semibold mt-5">{{ modalMessage || 'Probando el modala' }}</h3>
      <div class="mt-4">
        <button (click)="closeModal()" class="bg-indigo-600 text-white px-4 py-2 rounded">Cerrar</button>
      </div>
    </div>
  </div>
</div>

