<div class="bg-white shadow-lg rounded-lg border border-grey overflow-hidden flex flex-col justify-center h-[450px]">
  <div class="px-4 py-3">
    <h2 class="font-bold text-center" style="font-size: 36px">Registro de Nuevos Usuarios</h2>
  </div>
  <hr class="bg-gray-600" />
  <div class="p-4">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <div>
        <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre" 
        class="w-full flex-1 ring-1 ring-gray-400 rounded-md text-md px-2 py-2 outline-none bg-gray-100 focus:placeholder-gray-500">
      </div>
      <div *ngIf="!isEditMode">
        <input type="text" id="numeroCuenta" formControlName="numeroCuenta" placeholder="Número de Cuenta" 
        class="w-full flex-1 ring-1 ring-gray-400 rounded-md text-md px-2 py-2 outline-none bg-gray-100 focus:placeholder-gray-500">
      </div>
      <div *ngIf="isEditMode">
        <input type="text" id="numeroCuenta" formControlName="numeroCuenta" placeholder="Número de Cuenta" 
        class="w-full flex-1 ring-1 ring-gray-400 rounded-md text-md px-2 py-2 outline-none bg-gray-100 focus:placeholder-gray-500" readonly>
      </div>
      <div>
        <input type="text" id="carrera" formControlName="carrera" placeholder="Carrera" 
        class="w-full flex-1 ring-1 ring-gray-400 rounded-md text-md px-2 py-2 outline-none bg-gray-100 focus:placeholder-gray-500">
      </div>
      <div>
        <input type="number" id="semestre" formControlName="semestre" placeholder="Semestre" 
        class="w-full flex-1 ring-1 ring-gray-400 rounded-md text-md px-2 py-2 outline-none bg-gray-100 focus:placeholder-gray-500">
      </div>
      <div>
        <input type="text" id="rfid" formControlName="rfid" placeholder="ID de la tarjeta RFID" 
        class="w-full flex-1 ring-1 ring-gray-400 rounded-md text-md px-2 py-2 outline-none bg-gray-100 focus:placeholder-gray-500" readonly>
      </div>
      <div class="flex justify-around space-x-4">
        <button type="submit"
          class="w-[61%] flex justify-center py-2 px-4 border border-transparent rounded-lg shadow-md text-xl font-medium text-gray-700 bg-green-500 hover:text-white hover:bg-green-700 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-300 ease-in-out transform hover:scale-105">
          {{ isEditMode ? 'Editar' : 'Registrar' }}
        </button>
        <button type="button" (click)="cancelEdit()" *ngIf="isEditMode"  
          class="w-[35%] flex justify-center py-2 px-4 border border-transparent rounded-lg shadow-md text-xl font-medium text-white bg-gray-500 hover:bg-gray-700 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition duration-300 ease-in-out transform hover:scale-105">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>


<!-- Modal -->
<div *ngIf="isModalVisible" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white rounded-lg p-6">
    <div *ngIf="isUserRegistered" class="flex flex-col items-center">
      <i class="fa-regular fa-circle-check fa-5x" style="color: #00a30b;"></i>
      <h3 class="text-lg font-semibold mt-5">{{ modalMessage }}</h3>
      <div class="mt-4">
        <button (click)="closeModal()" class="bg-indigo-600 text-white px-4 py-2 rounded">Cerrar</button>
      </div>
    </div>
    <div *ngIf="!isUserRegistered" class="flex flex-col items-center">
      <i class="fa-regular fa-circle-xmark fa-5x" style="color: #ca2b2b;"></i>
      <h3 class="text-lg font-semibold mt-5">{{ modalMessage || 'Probando el modala' }}</h3>
      <div class="mt-4">
        <button (click)="closeModal()" class="bg-indigo-600 text-white px-4 py-2 rounded">Cerrar</button>
      </div>
    </div>
  </div>
</div>

