<div class="bg-white shadow-lg rounded-lg border border-grey overflow-hidden flex flex-col h-[700px]">
  <div class="px-4 py-3">
    <h2 class="font-bold text-center" style="font-size: 36px">Historial de Entradas y Salidas</h2>
  </div>
  <hr class="bg-gray-600" />
  <div class="p-4 pt-0 overflow-y-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50 sticky top-0">
        <tr>
          <th scope="col" class="px-2 py-3 text-left text-md font-bold text-gray-500 uppercase tracking-wider">Nombre</th>
          <th scope="col" class="px-2 py-3 text-center text-md font-bold text-gray-500 uppercase tracking-wider">Cuenta</th>
          <th scope="col" class="px-2 py-3 text-center text-md font-bold text-gray-500 uppercase tracking-wider">Carrera</th>
          <th scope="col" class="px-2 py-3 text-center text-md font-bold text-gray-500 uppercase tracking-wider">Semestre</th>
          <th scope="col" class="px-2 py-3 text-center text-md font-bold text-gray-500 uppercase tracking-wider">Entrada</th>
          <th scope="col" class="px-2 py-3 text-center text-md font-bold text-gray-500 uppercase tracking-wider">Salida</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let record of accessRecords">
          <td class="px-2 py-4 text-md whitespace-nowrap ">{{ record.nombre }}</td>
          <td class="px-2 py-4 text-md whitespace-nowrap text-center">{{ record.numeroCuenta }}</td>
          <td class="px-2 py-4 text-md whitespace-nowrap text-center">{{ record.carrera }}</td>
          <td class="px-2 py-4 text-md whitespace-nowrap text-center">{{ record.semestre }}</td>
          <td class="px-2 py-4 text-md whitespace-nowrap text-center"><i class="fa-solid fa-arrow-down fa-xl mr-2" style="color: #0ba300;"></i> {{ record.fechaHoraEntrada.toDate() | date: 'medium' }}</td>
          <td class="px-2 py-4 text-md whitespace-nowrap text-center"><i class="fa-solid fa-arrow-up fa-xl mr-2" style="color: #d31717;"></i> {{ record.fechaHoraSalida ? (record.fechaHoraSalida.toDate() | date: 'medium') : '---' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div *ngIf="isModalVisible" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white rounded-lg p-6">
    <div *ngIf="isUserRegistered" class="flex flex-col items-center">
      <i class="fa-regular fa-circle-check fa-5x" style="color: #00a30b;"></i>
      <h3 class="text-lg font-semibold mt-5">{{ modalMessage }}</h3>
      <div class="mt-4">
        <button (click)="closeModal()" class="bg-indigo-600 text-white px-4 py-2 rounded">Cerrar</button>
      </div>
    </div>
    <div *ngIf="!isUserRegistered" class="flex flex-col items-center">
      <i class="fa-regular fa-circle-xmark fa-5x" style="color: #ca2b2b;"></i>
      <h3 class="text-lg font-semibold mt-5">{{ modalMessage }}</h3>
      <div class="mt-4">
        <button (click)="closeModal()" class="bg-indigo-600 text-white px-4 py-2 rounded">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal sin botón de cerrar que se cierra automáticamente -->
<div *ngIf="isAutoCloseModalVisible" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white rounded-lg p-10">
    <div class="flex flex-col items-center">
      <i *ngIf="!isNotFound" class="fa-solid fa-door-open fa-5x"></i>
      <i *ngIf="isNotFound" class="fa-regular fa-circle-xmark fa-5x" style="color: #ca2b2b;"></i>
      <h3 class="text-3xl font-semibold mt-5">{{ autoCloseMessage }}</h3>
    </div>
  </div>
</div>