<app-header></app-header>

<div class="flex justify-center my-4">
  <button
    (click)="toggleComponents()"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:scale-105">
    {{ showAccessRecords ? 'Modo Registro' : 'Modo Acceso' }}
  </button>
</div>


<div *ngIf="!showAccessRecords" class="grid grid-cols-2 gap-6 my-5 mx-5">
  <app-register-user></app-register-user>
  <app-modify-user></app-modify-user>
</div>

<div *ngIf="showAccessRecords" class="flex my-5 mx-5 gap-6">
  <div class="w-[70%] mr-6">
    <app-access-records></app-access-records>
  </div>
  <div class="w-[30%]">
    <app-access-simulation></app-access-simulation>
  </div>
</div>

<router-outlet />
