<app-header></app-header>

<div class="flex justify-center mt-4 mb-10">
  <button
    (click)="toggleComponents()"
    class="flex flex-row bg-blue-500 hover:bg-blue-700 text-white text-2xl font-bold py-3 px-5 rounded hover:scale-105">
    <i class="fa-solid fa-right-left fa-sm self-center mr-4"></i>
    {{ showAccessRecords ? 'Modo Registro' : 'Modo Acceso' }}
  </button>
</div>


<div *ngIf="!showAccessRecords" class="grid grid-cols-6 gap-6 my-5 mx-5 h-auto items-center">
  <app-register-user class="grid col-span-2"></app-register-user>
  <app-modify-user class="grid col-span-4"></app-modify-user>
</div>

<div *ngIf="showAccessRecords" class="flex my-5 mx-5 gap-6">
  <div class="w-[80%] mr-6">
    <app-access-records></app-access-records>
  </div>
  <div class="w-[20%] flex flex-col justify-start mt-10">
    <app-access-simulation></app-access-simulation>
  </div>
</div>

<router-outlet />
